body {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    box-sizing: border-box;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}


.blog-content {
    display: flex;
    gap: 52px;
}

.blog-box {
    width: 800px;
}

.buttons {
    width: 348px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    padding: 9px 30px;
    cursor: pointer;
}

button:hover {
    border: 1px solid red;
}